.utube_icon{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    background-color: white;
    padding: 6px;
    border: none;
}

.top input[type=text]{
    float: center;
    display: inline-block;
    margin: 10 10 10 10;
   /* background-color: gray; */
    padding: 6px;
    border: none;
}

#p12{
    background-color: gray;
    color: white;
    
}

.noti{
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.noti:hover {
    background: red;
}

.noti .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }