.utube_icon{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    
    padding: 6px;
    border: none;
}

.top input[type=text]{
    float: center;
    display: inline-block;
    margin: 10 10 10 10;
   /* background-color: gray; */
    padding: 6px;
    border: none;
}

body {
    
    background-color: white;
    color: black;
    font-size: 25px;
  }
.dark_mode{
    background-color: black;
    color: white;
}