.utube_icon{
    display: inline-block;
    margin: 10px 10px 5px 5px;
    background-color: black;
}

.top input[type=text]{
    float: center;
    display: inline-block;
    margin: 10 10 10 10;
    background-color: black;
}