.utube_icon{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    background-color: white;
    padding: 6px;
    border: none;
}

.top input[type=text]{
    float: center;
    display: inline-block;
    margin: 10 10 10 10;
   /* background-color: gray; */
    padding: 6px;
    border: none;
}

#p12{
    background-color: gray;
    color: white;
    
}

.noti_icon{
    height: 30px;
    width: 30px;
    display: inline-block;
}